{% trans_default_domain 'FOSUserBundle' %}




<div class="container">
    <div class="col-md-8">
        <div class="page-header">
            <h1> Mon profile </h1>
        </div>
        <div class="profile clearfix">
            <div class="image">
                <img src="http://lorempixel.com/700/300/nature/2/" class="img-cover">
            </div>
            <div class="user clearfix">
                <div class="avatar">
                    <img src="http://bootdey.com/img/Content/user-453533-fdadfd.png" class="img-thumbnail img-profile">
                </div>
                <h2> {{ user.username }}</h2>
                <div class="actions">
                    <div class="btn-group">
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Add to friends"><span class="glyphicon glyphicon-user"></span> Mes informations</a>
                        <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message"><span class="glyphicon glyphicon-cog"></span> Mot de passe</a>

                    </div>
                </div>
            </div>
            <div class="info">
                <p><span class="glyphicon glyphicon-globe"></span> <span class="title">Email :</span>  {{ user.email }}</p>

            </div>
        </div>
    </div>
</div>
